@mixin responsive-ratio--before($x,$y) {
    &:before {
        position: relative;
        content: '';
        display: block;
        width: 100%;
        padding-top: calc(calc($x / $y) * 100%);
    }
}


@mixin responsive-ratio--after($x,$y) {
    &:after {
        position: relative;
        content: '';
        display: block;
        width: 100%;
        padding-top: calc(calc($x / $y) * 100%);
    }
}
