@import "normalize.css";
@import "reset-css";
@import "vars/colors";
@import "vars/sizes";

body {
    position: relative;
    font-family: var(--ff-base);
    font-size: 16px;
    color: var(--c-grey-darkest);
    background-color: var(--c-grey);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
}

.main{
    position: relative;
    width: 100%;
    height: 100%;
}

select,
textarea,
input-placeholder {
    font-family: var(--ff-base);
    color: var(--c-grey-dark);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button:focus {
    outline: 0 !important;
}

h2 {
    font-size: var(--fs-title);
}

button {
}

* {
    font-family: var(--c-grey-light);
    box-sizing: border-box;
}
